@import 'styles/colors.scss';
@import 'styles/screens.scss';

.navbar {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-alto;
    background-color: $color-black;

    @media (max-width: $screen-medium) {
        padding: 15px 20px;
    }
}
