@import 'styles/colors.scss';
@import 'styles/screens.scss';

.content {
    display: flex;
    justify-content: center;

    @media (max-width: $screen-medium) {
        flex-direction: column;
    }
}
