@import 'styles/screens.scss';

.container {
    width: 100%;
}

.content {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px 20px;

    h2 {
        font-family: 'Orbitron', sans-serif;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;

        @media (max-width: $screen-small) {
            font-size: 40px;
        }

        @media (max-width: $screen-xsmall) {
            font-size: 30px;
        }
    }

    p {
        margin: 40px 0;
        font-size: 24px;
    }
}
