@import 'styles/colors.scss';
@import 'styles/screens.scss';

.container {
    position: relative;
    background-color: $color-ebony-clay;
    height: 400px;

    @media (max-width: $screen-small) {
        height: 460px;
    }
}

.text {
    position: absolute;
    width: 100%;
    padding: 40px 20px;
    text-align: center;

    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 50px;

        @media (max-width: $screen-small) {
            font-size: 40px;
        }

        @media (max-width: $screen-xsmall) {
            font-size: 30px;
        }
    }

    h2 {
        padding: 20px 0;
        font-size: 40px;
        color: $color-downy;

        @media (max-width: $screen-small) {
            font-size: 30px;
        }
    }
}
