@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.horizontal {
    display: flex;
    align-items: center;
    margin-left: 30px;
    list-style: none;

    @media (max-width: $screen-medium) {
        display: none;
    }

    li {
        padding: 10px;
    }

    a {
        color: $color-alto;
        cursor: pointer;
    }

    @media (hover: hover) {
        a:hover {
            color: $color-downy;
            text-decoration: none;
        }

        .nohover:hover {
            color: $color-alto;
        }
    }

    i {
        display: block;
        font-size: 28px;
    }
}

.vertical {
    display: none;

    @media (max-width: $screen-medium) {
        display: flex;
        flex-direction: column;
    }

    .list {
        position: fixed;
        padding: 20px 20px 80px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: $color-black;
        text-align: center;
        z-index: $z-index-top-menu;

        ul {
            padding-top: 30px;
            list-style: none;
        }

        li {
            font-size: 30px;
            padding: 10px;
        }
    }

    .logo {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        background-color: $color-black;
        opacity: 0.9;

        & > * {
            width: 150px;

            @media (max-width: $screen-small) {
                width: 100px;
            }
        }
    }
}

.icon {
    color: $color-alto;
    font-weight: bold;
}

.toggleMenu {
    display: none;
    margin-left: 30px;
    font-size: 45px;

    @media (max-width: $screen-medium) {
        display: block;
    }

    @media (max-width: $screen-small) {
        font-size: 35px;
    }
}

.toggleClose {
    position: fixed;
    right: 20px;
    font-size: 35px;

    @media (max-width: $screen-small) {
        font-size: 30px;
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
