@import 'styles/colors.scss';
@import 'styles/screens.scss';

.horizontal {
    display: flex;
    align-items: center;
    margin-left: 30px;
    list-style: none;

    @media (max-width: $screen-medium) {
        display: none;
    }

    li {
        padding: 10px;
    }

    a {
        color: $color-alto;
    }

    @media (hover: hover) {
        a:hover {
            color: $color-downy;
            text-decoration: none;
        }

        .nohover:hover {
            color: $color-alto;
        }
    }

    i {
        font-size: 28px;
    }
}

.vertical {
    display: none;

    @media (max-width: $screen-medium) {
        display: flex;
        flex-direction: column;
    }

    .list {
        position: fixed;
        padding: 20px;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: $color-black;
        list-style: none;
        z-index: 10;

        li {
            font-size: 30px;
            padding: 10px;
        }
    }
}

.icon {
    color: $color-alto;
    font-size: 45px;
    font-weight: bold;
}

.toggleMenu {
    display: none;
    margin-left: 30px;

    @media (max-width: $screen-medium) {
        display: block;
    }
}

.toggleClose {
    text-align: right;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
